@model WebStore.Models.AccountModel.AccountViewModel;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Search User";
}

<h5 class="text-center text-primary font-weight-bold">@ViewData["Title"]</h5>
<hr>

<form asp-action="FindUserByEmail" method="post">
    <div class="mb-3 w-50 mx-auto">
        <!-- <label asp-for="Username" class="form-label">User email</label> -->
        <!-- <input asp-for="Username" class="form-control" aria-required="true" placeholder="Enter email" /> -->
        <!-- <span asp-validation-for="Username" class="text-danger"></span> -->

        <div class="input-group mb-3">
            <input asp-for="Username" class="form-control" aria-required="true" placeholder="User email"
                   aria-label="Enter email" aria-describedby="basic-addon2" />
            <span asp-validation-for="Username" class="text-danger"></span>

            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </div>
</form>

<hr />

<div class="mb-3 w-50 mx-auto">
    <a asp-controller="Admin" asp-action="ListUsers" class="btn btn-primary mb-2">Get All Users</a>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-primary mb-2" style="float: right">Back</a>
</div>


