@model WebStore.Models.RoleModel.RoleViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Create New Role";
}

<h5 class="text-center text-primary font-weight-bold">@ViewBag.Title</h5>
<hr />

<form asp-controller="Admin" asp-action="CreateRole" method="post">
    <div class="mb-3 w-50 mx-auto">
        <label asp-for="RoleName" class="form-label text-primary">Name</label>
        <input asp-for="RoleName" class="form-control" ari-required="true" type="text" placeholder="Name">
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>

    <div class="mb-3 w-50 mx-auto">
        <button type="submit" class="btn btn-primary mb-3" style="width:auto">Submit</button>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary mb-3" style="float: right">Cancel</a>
    </div>
</form>