
@model WebStore.Models.CategoryModel.CategoryFormModel;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Category";
}

<h5 class="text-center text-primary font-weight-bold">@ViewData["Title"]</h5>
<hr>
        
<form asp-controller="Category" asp-action="FindCatByName" method="post">
           
    <div class="mb-3 w-50 mx-auto">
                
        <!-- Check validation with empty id or empty name -->

                
        <!-- The <label> tag defines a label for several elements: -->

               
                
            
        <!-- <label asp-for="Name" class="form-label">Name</label> <input asp-for="Name" class="form-control" aria-required="true" />
             <span asp-validation-for="Name" class="text-danger"></span> -->

        <div class="input-group mb-3">
            <input asp-for="Name" class="form-control" aria-required="true" placeholder="Category name" 
            aria-label="Category name" aria-describedby="basic-addon2">
            <span asp-validation-for="Name" class="text-danger"></span>

            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </div>        
</form>

<hr>     

<div class="text-center mb-3 w-50 mx-auto">
    <a asp-controller="Category" asp-action="Create" class="btn btn-primary mb-2">Create</a>
    <a asp-controller="Category" asp-action="ListCategories" class="btn btn-primary mb-2">Get All</a>
</div>
