@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Category" asp-action="Create" class="btn btn-primary mb-2">Create category</a>
    <div class="row">
        @foreach (var category in ViewBag.Categories)
        {
            <div class="col">
                <p class="fs-1">
                    <a asp-controller="Category" asp-action="Details" asp-route-id="@category.Id" class="btn btn-secondary mb-2">@category.Name</a>
                </p>
            </div>
        }
    </div>
</div>
